


<header class="header">
  <div class="container header-top">
    <a href="../index.html"><h1 class="logo">PORTAL DE EXIGÊNCIAS LEGAIS</h1></a>
    <a href="https://www.senior.com.br/" target="_blank">
      <img src="../images/logo-senior.png" alt="Logo da Empresa" class="company-logo" />
    </a>
  </div>

  <div class="header-menu hero">
    <div class="container">
      <div class="nav-bar">
        <button class="menu-toggle">☰</button>
        <ul class="menu">
          <li class="dropdown">
            <a href="#">Destaques</a>
            <ul class="dropdown-menu">
                    <li><a href="../destaques/reforma-tributaria.html" target="_blank">Reforma Tributária</a></li>
                    <li><a href="../destaques/esocial.html" target="_blank">eSocial</a></li>
                    <li><a href="../destaques/nfe-nfce.html" target="_blank">NFe / NFCe</a></li>
                    <li><a href="../destaques/ct-e.html" target="_blank">CT-e</a></li>
                    <li><a href="../destaques/sped.html" target="_blank">SPED</a></li>
                    <li><a href="../destaques/dirbi.html" target="_blank">DIRBI</a></li>
                    <li><a href="../destaques/dctfweb.html" target="_blank">DCTFWEB</a></li>
                    <li><a href="../destaques/simples-nacional.html" target="_blank">Simples Nacional</a></li>
                    <li><a href="../destaques/fgts-digital.html" target="_blank">FGTS Digital</a></li>
                    <li><a href="../destaques/icms-st.html" target="_blank">ICMS ST</a></li>
                    <li><a href="../destaques/efd-reinf.html" target="_blank">EFD - Reinf</a></li>
                    <li><a href="../destaques/difal.html" target="_blank">DIFAL</a></li>
                    <li><a href="../destaques/bloco-k.html" target="_blank">Bloco K/ Portaria 671</a></li>
                    <li><a href="../destaques/congresso-nacional.html" target="_blank">Congresso Nacional</a></li>
                  </ul>
          </li>
          <li class="dropdown">
  <a href="#">Notícias</a>
  <ul class="dropdown-menu">
    
    <li><a href="/noticias/federal/todas-noticias-federal.html">Federal</a></li>
    <li><a href="/noticias/estadual/todas-noticias-estadual.html">Estadual</a></li>
    <li><a href="/noticias/trabalhista-previdenciaria/todas-noticias-trabalhista-previdenciaria.html">Trabalhista/Previdenciária</a></li>
    <li><a href="/noticias/todas-as-noticias.html">Todas as notícias</a></li>
  </ul>
</li>


        </ul>
        <div class="search-container">
          <input type="text" placeholder="Pesquisar..." class="search-box" />
          <button class="search-button">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="11" cy="11" r="7" stroke="white" stroke-width="2" />
              <line x1="16" y1="16" x2="22" y2="22" stroke="white" stroke-width="2" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

</header>



