<div class="feedback-box">
        <p>Esse conteúdo ajudou você?</p>
        <div class="feedback-buttons">
          <button class="btn-feedback" data-feedback="sim">👍 Sim</button>
          <button class="btn-feedback" data-feedback="nao">👎 Não</button>
        </div>
      </div>


      <!-- Modal de Sugestão -->
<div id="feedbackModal" class="modal-overlay">
  <div class="modal-content">
    <span class="close-modal">&times;</span>
    <h3>Gostaria de deixar uma sugestão para melhorar esta página?</h3>
    <p>Este é um espaço para sugerir melhorias no Portal de Documentação da Senior.</p>

    <label for="nomeEmail">Nome/E-mail (Opcional):</label>
    <input type="text" id="nomeEmail" maxlength="100" />

    <label for="comentario">Deixe seu comentário (até 100 caracteres):</label>
    <textarea id="comentario" maxlength="100"></textarea>

    <div class="privacidade-box">
      <input type="checkbox" id="consentimento" />
      <label for="consentimento">
        Li e concordo com a <a href="https://www.senior.com.br/politica-de-privacidade/" target="_blank">Política de Privacidade</a> da Senior, que pode usar as informações aqui fornecidas por mim para entrar em contato comigo via e-mail para ações de natureza informativa. Posso revogar meu consentimento a qualquer momento enviando um e-mail para <a href="mailto:encarregado@senior.com.br">encarregado@senior.com.br</a>.
      </label>
    </div>

<div class="btn-enviar-feedback">
    <button id="enviarComentario" class="btn-enviar">Enviar comentário</button>
</div>


    <p class="suporte-info">Se você estiver buscando um atendimento, entre em contato com o <a href="https://suporte.senior.com.br" target="_blank" class="suporte-info-link">Suporte Senior</a>.</p>
  </div>
</div>

      

  
    
      <!-- Banner de Marketing -->
      <section class="marketing-banner">
        <div class="container">
          <a href="https://materiais.senior.com.br/monitor-legal-senior" target="_blank">
            <picture>
              <!-- Imagem para telas menores que 768px -->
              <source media="(max-width: 767px)" srcset="../../../images/banner-mobile.png" />
              <!-- Imagem padrão para telas maiores -->
              <img src="../../../images/banner-exemplo.png" alt="Marketing banner" />
            </picture>
          </a>
        </div>
      </section>




<div class="menu-footer">
  <div class="container">
    <div class="menu-central">
      <nav>
        <a href="https://documentacao.senior.com.br/">Portal de Documentação</a>
        <a href="https://suporte.senior.com.br/hc/pt-br">Base de Conhecimento</a>
        <a href="#">Contato</a>
        <a href="https://www.senior.com.br/servicos/universidade-corporativa-senior">Universidade Corporativa</a>
        <a href="https://www.senior.com.br/blog">Blog da Senior</a>
      </nav>
    </div>
    <a href="https://suporte.senior.com.br/hc/pt-br" class="btn-ajuda">Suporte Senior</a>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <a href="https://www.senior.com.br/" target="_blank">
      <img class="logo-footer" src="../../../images/logo-senior-verde.png" alt="Logo Senior">
    </a>
    <p>&copy; 2025 Portal de Exigências Legais - Senior Sistemas S.A - Todos os direitos reservados.</p>
  </div>
</footer>


